html {
    font-size: 62.5%;
}

h1, h2, h3, h4, p, table, li, ul, img, section, div {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1.4rem;
    line-height: 1.8rem;
}

.page-header-profile {
	text-align: center;
    margin-top: 21px;
}

.page-header-question {
    margin-top: 21px;
}

.close-button {
	float: right;
    border: none;
    background: none;
}

.close-button-image {
	width: 30px;
}

.profile-photo {
	border-radius: 50%;
    width: 60px;
    margin-left: 50px;
    margin-bottom: 12px;
}

.profile-name {
	color: #0266b3;
}

.profile-informations-section {
	margin-top: 12px;
}

.profile-information-header {
	display: none;
}

.caps-header {
	margin: 20px 50px 0px 50px;
    font-variant: small-caps;
    font-size: 1.7rem;
    color: #838b93;
}

.caps-header-small {
    margin: 20px 45px 0px 45px;
    font-variant: small-caps;
    font-size: 1.4rem;
    color: #838b93;
    font-weight: normal;
}

.description {
	margin-top: 5px;
}

.activity-photo {
	width: 30px;
}

hr {
    margin: 10px;
}

.how-it-started-section {
	text-align: center;
    margin-top: 20px;
}

.how-it-started-header {
	font-size: 2.7rem;
    font-style: oblique;
}

.rectangles {
    width: 280px;
    margin: 0 auto;
    padding-bottom: 29px;
}

.rec1 {
    display: inline-block;
    height: 100px;
}
.rec2 {
    display: inline-block;
    height: 100px;
}
.rec3 {
    display: inline-block;
}
.rec4 {
    display: inline-block;
}

.rectangle-text-left {
    font-size: 1.5rem;
    text-align: center;
    position: relative;
    top: 70px;
    left: 0px;
    z-index: 999;
}

.rectangle-text-right {
    font-size: 1.5rem;
    text-align: center;
    position: relative;
    top: 70px;
    left: 10px;
    z-index: 999;
}

.rectangle-shape-1 {
    opacity: 0.5;
    width: 100px;
    height: 100px;
    background-color: #bde8fd;
    -ms-transform: rotate(50deg);
    -webkit-transform: rotate(50deg);
    transform: rotate(50deg);
}

.rectangle-shape-2 {
    opacity: 0.5;
    margin-left: 17px;
    width: 100px;
    height: 100px;
    background-color: #bde8fd;
    -ms-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

.rectangle-shape-3 {
    opacity: 0.5;
    width: 100px;
    height: 100px;
    background-color: #bde8fd;
    -ms-transform: rotate(55deg);
    -webkit-transform: rotate(55deg);
    transform: rotate(55deg);    
}

.rectangle-shape-4 {
    opacity: 0.5;
    margin-left: 14px;
    width: 100px;
    height: 100px;
    background-color: #bde8fd;
    -ms-transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);    
}

span {
    font-size: 2.5rem;
    font-weight: bold;
    font-style: normal;
}

.joined-section {
    text-align: center;
}

.forms {
	width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.joined-form {
	display: inline-block;
    margin-left: 10px;
}

.joined-form:first-child {
	margin-left: 0px;
}

.background-photo {
	background: repeating-linear-gradient(
        45deg,   
        white,
        white 2px,
        #eeeeee 2px,
        #eeeeee 4px
    );
    height: 90px;
    width: 90px;
    margin-bottom: 10px;
}

.photo-circle {
    padding: 15px;
    border-radius: 50%;
    height: 60px;
    display: block;
    margin: 0 auto;
}

.hottest-discussion-section {
	text-align: center;
}

.hottest-discussion-section .caps-header {
    margin: 0;
	position: relative;
    top: 40px;
}

.hottest-discussion-section .photo-circle {
    position: relative;
    top: 40px;	
}

.hottest-discussion-informations {
	width: 100%;
    text-align: center;
    margin-top: 32px;
    padding-bottom: 75px;
}

.hottest-info {
	width: 45%;
    display: inline-block;
    font-style: oblique;
    font-size: 1.4rem;
}

.hottest-topic {
	color: #0266b3;
    font-style: oblique;
    font-size: 1.8rem;
    margin-top: 10px;
}

.span-blue {
	color: #0266b3;
    font-size: 1.4rem;
    font-variant: normal;
}

.discussion-background {
   background: repeating-linear-gradient(
        45deg,   
        white,
        white 2px,
        #eeeeee 2px,
        #eeeeee 4px
    );
    width: 100%;
    padding-top: 50px;
}

.page-header-question .caps-header {
    font-size: 4rem;
    color: black;
	margin: 0;
    text-align: left;
    padding-left: 110px;
}

.question {
    text-align: left;
    background: #dff3fd;
    -webkit-box-shadow: inset 0px 1px 1px 0px rgba(168,166,168,0.44);
    -moz-box-shadow: inset 0px 1px 1px 0px rgba(168,166,168,0.44);
    box-shadow: inset 0px 1px 1px 0px rgba(168,166,168,0.44);
    margin-top: 20px;
}


.question .photo-circle {
    display: inline-block;
    height: 50px;
    margin: 0;
    padding: 10px;
}

.question .caps-header-small {
    display: inline-block;
    position: relative;
    left: -20px;
    top: -20px;
}

.question-title {
	font-style: oblique;
    color: #0266b3;
    font-size: 1.6rem;
    text-align: center;
}

.question-text {
	background: white;
    margin-top: 12px;
    padding: 11px;
    color: #8f8b93;
}

hr.hr-white {
    border: 1px solid white;
    margin: 0 0 10px 0;
}

.hr-black {
    margin: 10px 0 0 0;
    opacity: 0.5;
}

.hr-gray {
    margin: 0;
}

.follow-button {
	background: 0;
    border: 0;
    font-weight: bold;
    float: left;
    padding-left: 11px;
    display: inline-block;
    top: 18px;
    position: relative;
}

.votes-area {
	text-align: right;
}

.votes-count {
	font-size: 1.4rem;
    display: inline-block;
    padding-right: 20px;
    top: 15px;
    position: relative;
    font-style: oblique;
}

.votes-buttons {
	width: 30px;
    display: inline-block;
    float: right;
    padding-right: 11px;
}

.vote-up {
	background: url(img/up.png) center;
    background-size: 25px 25px;
    height: 25px;
    width: 25px;
    border: 0;
}

.vote-down {
    background: url(img/down.png) center;
    background-size: 25px 25px;
    height: 25px;
    width: 25px;
    border: 0;
}

.answers-section {
	margin-top: 80px;
    padding-bottom: 50px;
    width: 100%;
    text-align: center;
    -webkit-box-shadow: inset 0px 1px 1px 0px rgba(168,166,168,0.44);
    -moz-box-shadow: inset 0px 1px 1px 0px rgba(168,166,168,0.44);
    box-shadow: inset 0px 1px 1px 0px rgba(168,166,168,0.44);
}

.answers-section .hr-black {
    margin: 0;
}

.answer-button {
	margin: 0 auto;
    width: 180px;
    padding: 8px 30px 8px 30px;
    background: white;
    border: 1px solid gray;
    position: relative;
    top: -24px;
    font-size: 1.5rem;
}

.answers-section .caps-header {
    margin: 0;
    color: black;
    font-size: 2rem;
}

.answers-count {
	font-size: 1.2rem;
    font-style: oblique;
    position: absolute;
    padding-top: 50px;
    transform: translateX(-95%);
    width: 200px;
}

.number {
    font-style: normal;
    font-size: 1.7rem;
}

.span-oblique {
	font-style: oblique;
    font-size: 1.3rem;
    color: #6d4b51;
    font-variant: normal;
}

.comment-section {
    -webkit-box-shadow: 0px -5px 6px 0px rgba(50, 50, 50, 0.2);
    -moz-box-shadow:    0px -5px 6px 0px rgba(50, 50, 50, 0.2);
    box-shadow:         0px -5px 6px 0px rgba(50, 50, 50, 0.2);
    background: white;
    padding-bottom: 40px;
}

.comment-header .photo-circle {
    display: inline-block;
	height: 40px;
}

.comment-header .span-oblique {
    text-align: right;
}

.comment-header .caps-header-small {
    margin: 0;
	position: relative;
    bottom: 30px;
}

.dot {
	padding: 0 5px;
    font-size: 1.4rem;  
}

.comment-text {
	padding: 11px 11px 20px 11px;
    color: #8f8b93;
}

.comment-section-2 {
	margin-bottom: 20px;
    margin-left: 10px;
    background: white;
        -webkit-box-shadow: inset 0px 1px 1px 0px rgba(168,166,168,0.44);
    -moz-box-shadow: inset 0px 1px 1px 0px rgba(168,166,168,0.44);
    box-shadow: inset 0px 1px 1px 0px rgba(168,166,168,0.44);
}

.sub-comment {
	background: #d8d8d8;
}

.comment-section-2 .votes-area {
    height: 90px;
}

.continue-button {
    margin: 0 auto;
    width: 210px;
    padding: 8px 30px 8px 30px;
    background: white;
    border: 1px solid gray;
    position: relative;
    top: -40px;
    font-size: 1.5rem;
}

.continue-discussion-section {
	text-align: center;
    width: 100%;
}

.continue-discussion-section .caps-header {
    margin: 0;
    color: black;
    font-size: 2rem;
}

.sub-comment .caps-header {
    margin: 0;
    color: black;
    font-size: 2rem;
}

.cont-sect {
	height: 30px;
    text-align: center;
}

.comment-section .votes-area {
    height: 90px;
}

.comment-button-section {
	text-align: center;
    background: #fbfbfb;
    -webkit-box-shadow: inset 0px 1px 1px 0px rgba(168,166,168,0.44);
    -moz-box-shadow: inset 0px 1px 1px 0px rgba(168,166,168,0.44);
    box-shadow: inset 0px 1px 1px 0px rgba(168,166,168,0.44);
}

.comment-button {
    margin: 0 auto;
    width: 180px;
    padding: 8px 30px 8px 30px;
    background: white;
    border: 1px solid gray;
    position: relative;
    top: -24px;
    font-size: 1.5rem;
}

.comment-button-section .caps-header {
    margin: 0;
    color: black;
    font-size: 2rem;
}

.question-story-section .question {
    height: 93px;
}

.question-story-section .question .caps-header-small {
    position: relative;
    left: -34px;
    top: -50px;
	
}

.question-story-section .question-title {
        margin-left: 85px;
        text-align: left;
    position: relative;
    top: -40px;
}

.question-story-section .photo-circle {
    height: 50px;
    }

.question-info-block {
	display: inline-block;
}

.gray-block {
	width: 77px;
    height: 132px;
    background: #eeeeee;
    border-top: 1px solid white;
    border-right: 1px solid white;
    float: left;
}



.gray-block .hr-black {
    border: 1px solid black;
	margin: 20px 10px 2px 10px;
    opacity: 1;
}

.gray-block .span-oblique {
    position: relative;
    top: 90px;
    left: 10px;
}

.gray-block .number {
    position: relative;
	top: 30px;
    left: 35px;
}

.gray-block .caps-header-small {
	color: black;
/*    margin: 10px;*/
    padding-top: 30px;
}

.question-story-info {
    position: absolute;
    padding-left: 25px;
    display: inline-block;
    height: 130px;
}

.question-story-info .span-oblique {
    display: block;
    height: 30%;
}

.question-story-info .span-oblique:first-child {
    padding-top: 20px;
	
}

.question-story-info .number {
    padding-right: 5px;
	
}

.circle-gray {
	border-radius: 50%;
    width: 10px;
    height: 10px;
    background: #a7a9ac;
    position: relative;
    top: 90px;
    left: 33px;
}

.circle-black {
	border-radius: 50%;
    width: 10px;
    height: 10px;
    background: black;
    position: relative;
    top: -40px;
    left: 32px;
}
    
    .asked.caps-header-small {
        display: none;
    }

    .asked.circle-gray {
        top: 160px;
        display: none;
    }

   .question .hr-gray {
        display: none;
}


@media screen and (min-width: 40em) {

    body {
        line-height: 2rem;
        font-size: 1.6rem;
        background: #fbfbfb;
    }
    
    .profile-photo {
        margin-top: 50px;
        margin-bottom: 20px;
        width: 90px;
    }
    
    .caps-header {
        display: inline-block;
        margin: 45px 5px 0px 0px;
        font-size: 1.9rem;
    }
    
    .description {
        display: inline-block;
        font-size: 1.5rem;
        margin-right: 20px;
    }
    
    hr {
        margin: 36px;
    }
    
    .how-it-started-header {
	   font-size: 4.5rem;
    }
    
    .profile-informations-section {
	   margin-top: 0;
    }
    
    .rectangles {
        width: 470px;
    }
    
    .rec3 {
	   margin-left: 20px;
    }
    
    .hottest-topic {
	   font-size: 2rem;
    }
    
    .hottest-info {
        width: 20%;
    }
    
    .question .photo-circle {
/*        padding: 15px 0px 10px 20px;*/
        padding: 15px 20px;
    }
    
    .question-title {
        margin-left: 100px;
        text-align: left;
        font-size: 2.2rem;
    }
    
    .question-text {
        margin-left: 90px;
        padding-right: 140px;
        padding-bottom: 50px;
    }
    
    .question .hr-white {
	   display: none;
    }
    
    .caps-header-small {
        font-size: 1.7rem;
    }
    
    .span-blue {
        font-size: 1.7rem;
    }
    
    .question .caps-header-small {
        left: -17px;
    }
    
    .question-meta {
        text-align: right;
        height: 0px;
    }
    
    .question-meta .votes-area {
        text-align: right;
        position: relative;
        top: -155px;  
    }
    
    .question-meta .follow-button {
        position: relative;
        top: -210px;
        float: none;
        padding-right: 38px;
        font-size: 1.5rem;
    }
    
    .answers-section {
        margin-top: 0px;
        height: 95px
    }
    
    .answer-button {
        top: -20px;
    }
    
    .answers-count {
        width: 205px;
        padding-top: 100px;
        font-size: 1.6rem;
    }
    
    .comment-header .hr-gray {
        display: none;
	
    }
    .comment-header .caps-header-small {
        bottom: 50px;
    }
    
    .comment-text {
        position: relative;
        left: 75px;
        bottom: 50px;
        width: 400px;
        color: #586d71;
        font-size: 1.6rem;
    }
    
    .comment-section-2 .comment-text {
        width: 340px;
    }
    
    .comment-section .photo-circle {
        height: 50px;
    }
    
    .comment-section-2 .photo-circle {
        height: 50px;
    }
    
    .comment-section .votes-area {
        position: relative;
        top: -120px;
    }
    
    .comment-section-2 .votes-area {
        position: relative;
        top: -110px;
    }
    
    .comment-content {
        height: 0px;
        margin-bottom: 20px;
    }
    
    .comment-section-2 {
        margin-left: 80px;
        padding-bottom: 20px;
    }
    
    .sub-comment {
        background: #fbfbfb;
    }

    .gray-block {
        width: 90px;
        height: 155px;
    }
    
    .gray-block:first-child {
        background: white;
    }

    .question-story-section .question {
        height: 292px;
    }
    
    .question-info-block {
        margin-left: 90px;
        background: white;
        width: calc(100% - 120px); /* 90px of margin left, 30px of padding left and right */
        max-width: 680px;
        padding: 30px 10px 0 20px;
        position: relative;
        top: -30px;
    }

    .circle-black {
        top: -30px;
        left: 40px;
}
    
    .circle-gray {
        top: 110px;
        left: 35px;
}
    
    .question-story-info {
        height: 170px;
}
    
    .question .asked.caps-header-small {
        display: inline;
        position: relative;
        top: 150px;
        left: -20px;
    }
    
    .span-oblique {
        font-size: 1.5rem;
}
    
    .question .hr-gray {
        display: block;
        margin: 0 10px;
        position: relative;
        top: 140px;
        width: 70px;
}
        .asked.circle-gray {
            display: block;
    }
    
}




@media screen and (min-width: 50em) {

    body {
        line-height: 2.2rem;
        font-size: 1.6rem;

    }
    
    .page-header-question {
        max-width: 800px;
        margin: 0 auto;
        padding-top: 30px;        
    }
    
    .page-header-question .caps-header {
        padding: 0;	
    }
    
    .question {
        max-width: 800px;
        margin: 0 auto;
        margin-top: 30px;       
    }
    
    .question-meta {
        max-width: 800px;
        margin: 0 auto;
    }
    
    .answers-section {
        max-width: 800px;
        margin: 0 auto;
    }
    
    .comment-section {
        max-width: 800px;
        margin: 0 auto;
    }
    
    .sub-comment {
        max-width: 800px;
        margin: 0 auto;
    }
    
    .comment-button-section {
        max-width: 800px;
        margin: 0 auto;
    }
    
    
    
}

